# winject-radio-realtek (radio-a bench)
radio.device     = wlx00c0cabce06f
radio.driver     = rtl88xxau_wfb
radio.regdom     = BO
radio.bandwidth  = 20
radio.txpower    = txpower.csv

net.bind         = 127.0.0.1
net.console_port = 2201
net.dplane_port  = 9000

state.dir        = /tmp/winject-radio-a

tune.tx_queue_sz = 20
log.level        = info
